@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir.woff');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'vazirBold';
    src: url('../fonts/Vazir-Bold.woff');
    font-weight: bold;
}

html{
    font-family: vazir !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: vazir !important;
}
